#Container {
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.299);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre las cajas */
}

.boxesA {
    flex-basis: 100%;
    height: 100px;
    background-color: gray;
    margin-top: 10px;
}

.boxesB, .boxesC {
    height: calc(100% - 130px);
    margin-bottom: 10px; 
}

.boxesB {
    flex-grow: 2;
    background-color: gray;
}

.boxesC {
    flex-grow: 1;
    background-color: gray;
}

.boxesA, .boxesB{
    margin-left: 10px;
}

.boxesA, .boxesC{
    margin-right: 10px;
} 
